/*
Theme Name: Beema

Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/

body {
    direction: rtl;
}

ul.navbar-nav.ml-auto.align-items-center {
    margin: auto auto auto 0 !important;
}

.site_header .nav-item .fa-sort-down {
    vertical-align: baseline;
    margin: 0 .5rem 0 0 !important;
}

.green_btn.btn_style svg {
    margin: 0 .5rem 0 0 !important;
    transform: rotate(180deg);
}

#hero_section .tabs_sec .nav-tabs li .active:after {
    position: absolute;
    left: 2rem;
    margin-right: 1rem;
    margin-left: 0;
}

.mr-5 {
    margin-left: 3rem !important;
    margin-right: 0 !important;
}

.ml-5 {
    margin-right: 3rem !important;
    margin-left: 0 !important;
}

#hero_section .container .scrollDown {
    display: inline-flex;
    flex-direction: row-reverse;
}

#hero_section .container .scrollDown .mr-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
}

.owl-carousel {
    direction: ltr;
}

.owl-carousel .owl-item {
    direction: rtl;
}

#services_section .services_slider .owl-nav {
    left: 0;
    right: auto;
}

.mr-4 {
    margin-left: 1.5rem !important;
    margin-right: 0 !important;
}

.ml-4 {
    margin-right: 1.5rem !important;
    margin-left: 0 !important;
}

.mr-2 {
    margin-left: 0.5rem !important;
    margin-right: 0 !important;
}

.black_btn {
    flex-direction: row-reverse;
}

.black_btn .mr-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
}

.claims .claim_item.lineLeft .point:before, .claims .claim_item.lineRight .point:before {
    left: 50%;
    right: auto;
}

.claims .claim_item.lineLeft .point:after, .claims .claim_item.lineRight .point:after {
    left: auto;
    right: 50%;
}

.faq #accordion .card-header button {
    text-align: right;
}

.fileClaim .call_num {
    flex-direction: row-reverse;
}

.blog_item.mt-4 .textBlue svg {
    transform: rotate(180deg);
}

.mr-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important;
}

.ml-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
}

.green_br_btn svg {
    transform: rotate(180deg);
}
