/*---------- General Classes -------------*/
.margin_top{
  margin-top: $margin-two;
}
.margin_bottom{
  margin-bottom: $margin-two;
}
.margin_left{
  margin-left: 1rem;
}
.margin_right{
  margin-right: 1rem;
}
.margin_top_4{
  margin-top: 4rem;
}
.margin_bottom_4{
  margin-bottom: 4rem;
}
.padding_top{
  padding-top: $padding-two;
}
.padding_bottom{
  padding-bottom: $padding-two;
}
.br{
  border-radius: $br;
}
// text =========
.textBlue{
  color: $blue;
}

// btn ========
.btn_style {
  padding: .5rem 2rem;
  border-radius: 20px;
  display: inline-block;
  font-family: $font-family-medium;
}
.green_btn{
  background:$green;
  color: $bc !important;
}
.light_btn{
  background:$bc;
  color: #00488f !important;
}
.blackBorder_btn{
  border:2px solid #000;
  color: #000;
  padding: .5rem 1rem;
}
.black_btn{
  background: #000;
  color: $bc;
  padding: .4rem 1rem;
  font-size: 13px;
  font-family: $font-family-regular;
  border-radius: $br;
  p{
    margin: 0;
    line-height: 13px;
  }
  ._icon{
    font-size:18px;
  }
}

