#hero_section{
    position: relative;
    min-height: 600px;
    .fullwidthbanner-container{
        height: auto !important;
    }
    .rev_slider{
        min-height: 600px;
        height: auto !important;
        &:before{
            content: "";
            position: absolute;
            width:100%;
            height: 100%;
            z-index: 111;
            opacity: 0.77;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), #000000);
            top:0;
            left: 0;
        }
    }
    .container{
        position: relative;
        z-index: 111;
        color: $bc;
        margin-top: 12rem;
        padding-bottom: 4rem;
        .scrollDown{
           display: inline-block;
           color: $bc;
           font-family: $font-family-medium;
        }
    }
    .tabs_sec{
        border-radius: 31.5px;
        border: solid 3px #ffffff;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 2rem 1.3rem;
        .nav-tabs{
            border-radius: 27.7px;
            background-color: #f6f6f6;
            padding: 0;
            border-bottom: 0;
            li{
                a{
                    border-radius: 27.7px;
                    padding: .5rem 2rem;
                    color: $tc;
                    display: inline-block;
                    @include trans(.3s);
                }
                .active{
                    background: $green;
                    color: $bc;
                    &:after{
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f00c";
                        margin-left: 1rem;
                    }
                }
            }
        }
        .tab_item{
            color: $tc;
            padding: 2rem 1rem;
            text-align: center;
            border-radius: 29px;
            background-color: #f6f6f6;
            display: inline-block;
            text-align: center;
            .icon{
                font-size: 40px;
                margin: 0 auto 1rem;
                display: block;
                color: $blue;
            }
        }
    }
}
#services_section{
    h2{
        margin-top: 0;
    }
    p{
        margin: 0;
    }
    .services_slider{
        .serve_item{
            max-width: 650px;
            ._img{
                max-height: 350px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius:20px;
            }
        }
    .owl-nav{
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        background:$bc;
        .owl-prev , .owl-next{
            background: #ccc;
            border-radius: $br;
            color: $bc;
            padding: .1rem .6rem;
            text-align: center;
            &:before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
        .owl-next{
            &:before{
                content: '\f105';
            }
        }
        .owl-prev{
            margin-right: 1rem;
            &:before{
                content: '\f104';
            }
        }
    }
    }
}
