.site_footer{
    background: $blue;
    color: $bc;
    padding: 2rem 0;
    p {
        font-size: 18px;
    }
    .footer_menu{
        .footer_link{
            color: $bc;
            margin-bottom: .7rem;
            display: inline-block;
            font-size: 14px;
        }
    }
    small{
        display: inline-block;
    }
    .btn_style{
        font-family: $font-family-regular;
    }
    .logo{
        img{
            max-width: 170;
        }
    }
}
.loader{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: red;
}