.site_header{
    padding: 2rem  0 0;
    @include trans(.3s);
    .navbar-brand{
        img{
            max-height: 55px;
            @include trans(.3s);
        }
    }
    .nav-link{
        color: $tc;
        padding: 0 1rem !important;
    }
    &.header-scroll_bg_light{
        padding: 0;
        background:$bc;
        box-shadow: 0 0 10px #eee;
        .navbar-brand{
            img{
                max-height: 40px;
            }
        }
    }
   
}