.pagination .page-numbers{
    color: #b2bd00 !important;
    border: 1px solid #b2bd00 !important;
    padding: .5rem .75rem !important;
}
.pagination .page-numbers:hover{
    background: transparent;
}
.pagination .page-numbers.current{
    background: #b2bd00 !important;
    color: #fff !important;
}
.news-top-navigation{
    margin-bottom: 2rem !important;
    margin-top: -2rem !important;
}
.single-news-image{
    margin-bottom: 2rem !important;
}
.margin_bottom_4{
    text-align: center !important;
}

.site_header .nav-item{
    padding:.5rem .8rem !important;
}
.under-banner-menu li a{
text-transform: capitalize;
}
.left-static-item .owl-nav{
  display: none;  
}
.left-static-item img{
    border-radius: 12px; 
    max-width: 100% !important;
  }
  .owl-carousel .owl-item img{
    width: 95% !important;
    border-radius: 10px !important;
  }
  .branches .nav-tabs li{
width: 33% !important;
  }
  .investors-page .investors-link{
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #00addd !important;
  }
  .left-static-image{
    margin-bottom: 20px;
  }
  @media(min-width:992px){
    #phone-number-slider{
    margin-top:170px;
  }
  }
  #phone-number-slider{
  color:white;
  }
  .quarterlyResults .accordion .card .card-header button{
    height: 40px;
  }
  .quarterly-results .card-body .accordion{
  height: 10% !important;
  }
