@charset "UTF-8";
/* ====== fonts =========== */
@font-face {
  font-family: 'Conv_Ubuntu-B';
  src: url("../fonts/font/Ubuntu-B.eot");
  src: local("☺"), url("../fonts/font/Ubuntu-B.woff") format("woff"), url("../fonts/font/Ubuntu-B.ttf") format("truetype"), url("../fonts/font/Ubuntu-B.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Ubuntu-M';
  src: url("../fonts/font/Ubuntu-M.eot");
  src: local("☺"), url("../fonts/font/Ubuntu-M.woff") format("woff"), url("../fonts/font/Ubuntu-M.ttf") format("truetype"), url("../fonts/font/Ubuntu-M.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoWeb';
  src: url("../fonts/font/Lato-Regular.eot");
  src: local("☺"), url("../fonts/font/Lato-Regular.woff") format("woff"), url("../fonts/font/Lato-Regular.ttf") format("truetype"), url("../fonts/font/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ====== Color Palette =========== */
/* ====== fonts =========== */
/* ====== Font Sizes =========== */
/* ====== Text =========== */
/* ====== padding =========== */
/* ====== margin =========== */
/* ====== border radius =========== */
/*----------- functions -----------*/
/*---------- animation ----------*/
@keyframes scroll {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  70% {
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}

@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(0.3);
  }
}

@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.3);
  }
}

@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.3);
  }
}

/* --------------------------------
RESET CSS
-------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

select {
  width: 100%;
}

input:focus, button:focus, textarea:focus {
  outline: 0;
}

a:hover {
  color: #2d3436;
  text-decoration: none;
}

ul li {
  list-style-position: inside;
}

nav li {
  list-style: none;
}

button {
  padding: .5rem 2rem;
  cursor: pointer;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: "LatoWeb";
  overflow-x: hidden;
}

input {
  height: 42px;
  padding: 0 1rem;
}

textarea {
  resize: none;
  padding: 0.5rem 1rem;
  height: 84px;
}

p, h1, h2, h3, form {
  margin: 0 0 1rem;
}

h1 {
  font-size: 40px;
  font-size: 3rem;
  font-family: "Conv_Ubuntu-B";
  line-height: 3rem;
}

h2 {
  font-size: 30px;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-size: 1.3rem;
  font-family: "LatoWeb";
}

section {
  padding: 5rem 0;
}

/*---------- General Classes -------------*/
.margin_top {
  margin-top: 2rem;
}

.margin_bottom {
  margin-bottom: 2rem;
}

.margin_left {
  margin-left: 1rem;
}

.margin_right {
  margin-right: 1rem;
}

.margin_top_4 {
  margin-top: 4rem;
}

.margin_bottom_4 {
  margin-bottom: 4rem;
}

.padding_top {
  padding-top: 2rem;
}

.padding_bottom {
  padding-bottom: 2rem;
}

.br {
  border-radius: 5px;
}

.space {
  height: 345px;
  border-radius: 25px;
  background: url(../img/group.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.space:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  display: inline-block;
  margin-right: .5rem;
  border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #fff;
}

.textBlue {
  color: #00addd !important;
}

.textDarkBlue {
  color: #00488f;
}

.textGreen {
  color: #b2bd00 !important;
}

._bold {
  font-family: "Conv_Ubuntu-B";
}

._mid {
  font-family: "Conv_Ubuntu-M";
}

.light {
  font-weight: 100;
}

.list li {
  list-style-position: inside;
  list-style: auto;
}

img.w-100 {
  border-radius: 25px;
  box-shadow: 0 8px 14px #bbbbbb;
}

.list_none li {
  list-style: none;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}

.linkedin {
  background: #0077b5;
}

.behance {
  background: #1769ff;
}

.pintrest {
  background: #bd081c;
}

.btn_style {
  padding: .5rem 2rem;
  border-radius: 20px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  border: 2px solid transparent;
}

.btn_style:hover {
  background: transparent;
}

.green_btn {
  background: #b2bd00;
  color: #fff !important;
}

.green_btn:hover {
  color: #b2bd00 !important;
  border-color: #b2bd00;
}

.green_br_btn {
  background: transparent;
  color: #b2bd00;
  border: 2px solid #b2bd00;
}

.green_br_btn:hover {
  background: #b2bd00;
  border-color: #b2bd00;
  color: #fff;
}

.light_btn {
  background: #fff;
  color: #00488f;
}

.light_btn:hover {
  color: #fff;
  border-color: #fff;
}

.blackBorder_btn {
  border: 2px solid #000;
  color: #000;
  padding: .5rem 1rem;
}

.blackBorder_btn:hover {
  color: #000;
  border-color: #ccc;
}

.blackBorder_btn:hover:before {
  border-color: #000;
}

.black_btn {
  background: #000;
  color: #fff;
  padding: .4rem 1rem;
  font-size: 13px;
  font-family: "LatoWeb";
  border-radius: 5px;
}

.black_btn:hover {
  background: #000;
  color: #fff;
}

.black_btn:hover:before {
  display: none;
}

.black_btn p {
  margin: 0;
  line-height: 13px;
}

.black_btn ._icon {
  font-size: 18px;
}

.blue_btn {
  background: #00addd;
  color: #fff;
  border-radius: 5px;
}

.site_header {
  padding: 2rem  0 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.site_header .navbar-brand img {
  max-height: 55px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.site_header .nav-item {
  position: relative;
  padding: .5rem 1rem;
}

.site_header .nav-item .fa-sort-down {
  vertical-align: baseline;
}

.site_header .nav-item .submenu {
  position: absolute;
  top: 100%;
  left: -1rem;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  min-width: 150px;
  padding: 1rem 0;
  text-align: center;
  display: none;
  animation-duration: .4s;
}

.site_header .nav-item .submenu .nav-item {
  position: relative;
  animation-duration: .4s;
}

.site_header .nav-item .submenu .nav-item:last-child {
  margin-bottom: 0;
}

.site_header .nav-item .submenu .nav-item .submenu {
  top: 0;
  left: 99%;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.site_header .nav-item:hover > .submenu {
  display: block;
}

.site_header .nav-link {
  color: #2d3436;
  padding: 0 !important;
  display: inline-block;
}

.site_header.header-scroll_bg_light {
  padding: 0;
  background: #fff;
  box-shadow: 0 0 10px #eee;
}

.site_header.header-scroll_bg_light .navbar-brand img {
  max-height: 40px;
}

.site_main.bg {
  background: url(../img/main.png);
  background-size: 100%;
  background-repeat: no-repeat repeat;
}

/*------------ hearo section --------- */
#hero_section {
  position: relative;
  min-height: 600px;
}

#hero_section .fullwidthbanner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
}

#hero_section .rev_slider {
  min-height: 600px;
  height: 100% !important;
}

#hero_section .rev_slider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 111;
  opacity: 0.77;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000000);
  top: 0;
  left: 0;
}

#hero_section .container {
  position: relative;
  z-index: 111;
  color: #fff;
  padding-top: 12rem;
  padding-bottom: 4rem;
}

#hero_section .container .scrollDown {
  display: inline-block;
  color: #fff;
  font-family: "Conv_Ubuntu-M";
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hero_section .container .scrollDown:hover .fa-arrow-down {
  animation: scroll 2s 0s linear infinite;
}

#hero_section .hero-items-slider {
  text-align: center;
  display: none;
}

#hero_section .tabs_sec {
  border-radius: 31.5px;
  border: solid 3px #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem 1.3rem;
}

#hero_section .tabs_sec .nav-tabs {
  border-radius: 27.7px;
  background-color: #f6f6f6;
  padding: 0;
  border-bottom: 0;
  flex-wrap: nowrap;
}

#hero_section .tabs_sec .nav-tabs li {
  width: 33.333%;
  width: 30%;
}

#hero_section .tabs_sec .nav-tabs li a {
  border-radius: 27.7px;
  text-align: center;
  width: 100%;
  padding: .5rem 2rem;
  color: #2d3436;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

#hero_section .tabs_sec .nav-tabs li .active {
  background: #b2bd00;
  color: #fff;
}

#hero_section .tabs_sec .nav-tabs li .active:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-left: 1rem;
}

#hero_section .tabs_sec .col-sm-3 {
  padding: 0 5px;
}

#hero_section .tabs_sec .tab_item {
  color: #2d3436;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: #f6f6f6;
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
}

#hero_section .tabs_sec .tab_item small {
  color: #00488f;
  font-size: .7rem;
  font-weight: 600;
}

#hero_section .tabs_sec .tab_item img {
  max-width: 100%;
}

/*------------ services section --------- */
#services_section h2 {
  margin-top: 0;
}

#services_section p {
  margin: 0;
}

#services_section .services_slider .serve_item {
  max-width: 650px;
}

#services_section .services_slider .serve_item h3 {
  margin-top: 1rem;
}

#services_section .services_slider .serve_item ._img {
  max-height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

#services_section .services_slider .owl-nav {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
}

#services_section .services_slider .owl-nav .owl-prev, #services_section .services_slider .owl-nav .owl-next {
  background: #ccc;
  border-radius: 5px;
  color: #fff;
  padding: .1rem .6rem;
  text-align: center;
}

#services_section .services_slider .owl-nav .owl-prev:before, #services_section .services_slider .owl-nav .owl-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#services_section .services_slider .owl-nav .owl-next:before {
  content: '\f105';
}

#services_section .services_slider .owl-nav .owl-prev {
  margin-right: 1rem;
}

#services_section .services_slider .owl-nav .owl-prev:before {
  content: '\f104';
}

/*------------ inner oages top section --------- */
.topSection {
  padding: 18rem 0 2rem;
  background-size: cover !important;
  background-position: center center !important;
  color: #fff;
  position: relative;
  box-shadow: 0 8px 14px #bbbbbb;
  width: 98%;
  left: 1%;
  margin-top: 1rem;
  border-radius: 25px;
  overflow: hidden;
}

.topSection:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 75, 141, 0.768627), transparent, transparent);
  top: 0;
  left: 0;
}

.topSection .container {
  position: relative;
}

.topSection .container p {
  max-width: 725px;
}

.topSection .container h1 {
  font-size: 2.1rem;
}

.topSection .call_num {
  background: #fff;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.topSection .call_num svg {
  font-size: 25px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.topSection .call_num p {
  margin: 0;
}

.topSection.banner {
  padding-top: 10rem;
  padding-bottom: 4rem;
  border-radius: 25px 25px 0 0;
}

.topSection.banner .top-banner {
  padding: 2rem 1rem 3rem;
  max-width: 500px;
  border-radius: 25px;
  margin: 0 auto;
  background: rgba(10, 51, 96, 0.95);
}

.menu {
  width: 98%;
  margin: auto;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
}

.menu ul {
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: .8rem 0;
  font-weight: bold;
}

.menu ul li a {
  color: #2d3436;
}

.menu ul li.active a {
  color: #00addd;
}

/*------------ news section --------- */
.blog_item {
  padding: 1rem;
  background: #f6f6f6;
  border-radius: 25px;
}

.blog_item img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 10px 10px #bbbbbb;
}

.blog_item a {
  color: #2d3436;
}

.blog_item h3 {
  margin-top: 1rem;
  font-weight: bold;
}

/*------------ overview section --------- */
.overview {
  font-size: 15px;
  line-height: 17px;
}

.video {
  position: relative;
  padding-top: 56.2%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* conatct us ==============*/
.contact-us .social a {
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.contact-us .contact-form {
  background: #f6f6f6;
  padding: 2rem 2rem 1rem;
  border-radius: 25px;
}

.contact-us .contact-form .form-control {
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  height: 38px;
}

.contact-us .contact-form label {
  color: #000000;
}

.contact-us .contact-form .btn_style {
  background: #00addd;
  color: #fff;
  border-radius: 5px;
}

.contact-us .contact-form .btn_style:hover:before {
  display: none;
}

.branches .nav-tabs {
  display: flex;
  list-style: none;
  border-bottom: 0;
}

.branches .nav-tabs li {
  width: 25%;
}

.branches .nav-tabs .nav-link {
  background: url(../img/btn_inactive.png) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
}

.branches .nav-tabs .nav-link.active {
  background: url(../img/btn_active.png);
  background-size: 100% 100%;
  border: 0;
}

.branches .nav-tabs .nav-link:hover {
  border: 0;
}

.branches .tab-content {
  padding: 2rem;
}

.branches .tab-content a {
  color: #2d3436;
}

.branches .map {
  border-radius: 20px;
  overflow: hidden;
}

.branches #_selfServiceMachines .nav-tabs li {
  width: 20%;
}

.branches .maintaps > .nav-tabs li {
  width: 30%;
}

.branches .maintaps .tap {
  display: none;
  border-top: 2px solid #eee;
}

.branches .maintaps .tap.active {
  display: block;
}

/* =====  team =============*/
#accordion .card {
  border: 0;
  margin-bottom: 1rem;
}

#accordion .card-header {
  padding: 0;
  border: 0;
  border-radius: 10px;
  overflow: hidden;
}

#accordion .card-header button {
  border: 0;
  padding: .5rem 1rem;
  text-align: left;
  width: 100%;
  background: #f6f6f6;
  color: #2d3436;
  font-size: 15px;
}

#accordion .card-header button.active {
  background: #00addd;
  color: #fff;
  font-size: 1.3rem;
}

.tab {
  display: none;
}

.tab.show {
  display: block;
}

.faq #accordion .card {
  border: 0;
  margin-bottom: 1rem;
}

.faq #accordion .card.open {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.faq #accordion .card-header {
  padding: 0;
  border: 0;
  overflow: hidden;
}

.faq #accordion .card-header button {
  border-radius: 10px;
  border: 1px solid;
  padding: .5rem 1rem;
  text-align: left;
  width: 100%;
  background: #fff;
  color: #2d3436;
  font-size: 15px;
}

.faq #accordion .card-header button.active {
  color: #00addd;
  border: 0;
}

.faq #accordion .card-body {
  padding: 0 1rem 1rem;
}

/* ======== claims ============ */
.claims .claim_item svg {
  font-size: 40px;
  color: #b2bd00;
}

.claims .claim_item .point {
  margin: 1rem 0;
  text-align: center;
}

.claims .claim_item .point span {
  width: 17px;
  height: 17px;
  background: #00488f;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px #00488f;
  display: inline-block;
  z-index: 1;
  position: relative;
}

.claims .claim_item.lineLeft .point, .claims .claim_item.lineRight .point {
  position: relative;
}

.claims .claim_item.lineLeft .point:after, .claims .claim_item.lineRight .point:after {
  content: "";
  width: calc(100% + 20px);
  height: 2px;
  background: #00488f;
  position: absolute;
  left: 50%;
  top: 50%;
}

.claims .claim_item.lineLeft .point:before, .claims .claim_item.lineRight .point:before {
  content: "";
  width: calc(100% + 20px);
  height: 2px;
  background: #00488f;
  position: absolute;
  right: 50%;
  top: 50%;
}

.fileClaim .call_num {
  background: #f6f6f6;
  padding: .5rem 1rem;
  border-radius: 5px;
  display: inline-block;
}

.fileClaim .call_num svg {
  font-size: 25px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fileClaim .call_num p {
  margin-bottom: 0;
}

/* ====== request page =============*/
.request {
  background: url(../img/group1.jpg);
  background-size: cover;
  background-position: center;
  padding: 13rem 0 5rem;
}

.request .request-form {
  background: #fff;
  padding: 2rem;
  border-radius: 25px;
  max-width: 600px;
  margin: auto;
}

.steps .step svg {
  font-size: 40px;
  color: #b2bd00;
}

.steps .step .point {
  margin: 1rem 0;
  text-align: center;
  position: relative;
}

.steps .step .point span {
  width: 17px;
  height: 17px;
  background: #00488f;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 0 1px #00488f;
  display: inline-block;
  z-index: 1;
  position: relative;
}

.steps .step.lineRight .point:after {
  content: "";
  width: calc(100% + 20px);
  height: 2px;
  background: #00488f;
  position: absolute;
  left: 50%;
  top: 50%;
}

.credit .__item {
  justify-content: space-between;
  background: #eee;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 7px 8px #c5c5c5;
  text-align: left;
}

.credit .__item ._date {
  padding: 2rem 1rem;
  margin-top: -1.5rem;
  box-shadow: 0 7px 8px #c5c5c5;
  background: linear-gradient(#00a1d8, #00c0e5);
  position: relative;
  margin-bottom: 7px;
  color: #fff;
}

.credit .__item ._date:before {
  content: "";
  position: absolute;
  top: 0;
  right: -8%;
  width: 50%;
  height: 1rem;
  background: #0483af;
  z-index: -1;
  transform: skewX(40deg);
}

.credit .__item ._date:after {
  content: "";
  position: absolute;
  top: 0;
  left: -8%;
  width: 50%;
  height: 1rem;
  background: #0483af;
  z-index: -1;
  transform: skewX(-40deg);
}

.credit img {
  max-width: 260px;
}

/* ===== news page ======= */
.pagination .page-link {
  color: #b2bd00;
  border: 1px solid #b2bd00;
}

.pagination .page-link.active {
  background: #b2bd00;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  border-color: #b2bd00;
  color: #b2bd00;
  opacity: .6;
}

.pagination .page-link:hover {
  background: transparent;
}

.news_items .news_item {
  border-radius: 10px;
  border: 1px solid #b2bd00;
  padding: 1rem;
  margin-bottom: 1rem;
}

.news_items .news_item a svg {
  vertical-align: middle;
}

.news_items .news_item .img {
  margin-right: 1rem;
}

.news_items .news_item .img img {
  width: 200px;
  border-radius: 10px;
}

.news_items .news_item ._content p {
  margin: 0;
}

/*======= gallery ===========*/
.gallery .gallery_item {
  padding: 1rem;
  border: 2px solid #b2bd00;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 2rem;
}

.gallery .gallery_item p {
  margin-bottom: 0;
}

.gallery .gallery_item img {
  border: 1px solid #b2bd00;
  border-radius: 10px;
}

.gallery .gallery_item .green_btn {
  margin-top: 1rem;
}

/* ======== quarterlyResults ========= */
.quarterlyResults .accordion .card {
  margin-bottom: 1rem;
}

.quarterlyResults .accordion .card .card-header {
  background: #b2bd00;
}

.quarterlyResults .accordion .card .card-header button {
  width: 100%;
  height: 100%;
  background: #b2bd00;
  text-align: left;
  color: #fff;
}

.quarterlyResults .accordion .accordion .card {
  margin-bottom: 1rem;
  border: 0;
}

.quarterlyResults .accordion .accordion .card .card-header {
  background: transparent;
  padding: 0;
  border: 0;
}

.quarterlyResults .accordion .accordion .card .card-header button {
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: left;
  color: #b2bd00;
  padding: 0;
}

.quarterlyResults .accordion .accordion .card .card-header button svg {
  font-size: 1.2rem;
  vertical-align: bottom;
}

.site_footer {
  background: #00addd;
  color: #fff;
  padding: 1.5rem 0 0;
}

.site_footer p {
  font-size: 18px;
}

.site_footer .footer_menu .footer_link {
  color: #fff;
  margin-bottom: .7rem;
  display: inline-block;
  font-size: 14px;
}

.site_footer .footer-social a {
  color: #fff;
  border-radius: 50%;
  border: 1px solid;
  width: 25px;
  height: 25px;
  padding: .2rem;
  font-size: 16px;
}

.site_footer small {
  display: inline-block;
}

.site_footer .btn_style {
  font-family: "LatoWeb";
}

.site_footer .logo img {
  max-width: 170;
}

.site_footer .footer_bottom {
  padding: 1rem 0;
  color: #00addd;
  background: #fff;
}

.site_footer .footer_bottom p {
  font-size: 14px;
  margin-bottom: 0;
}

.site_footer .footer_bottom a {
  color: #00addd;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 191;
  display: flex;
}

.loader #circularG {
  position: relative;
  width: 57px;
  height: 57px;
  margin: auto;
}

.loader .circularG {
  position: absolute;
  background-color: #b2bd00;
  width: 13px;
  height: 13px;
  border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  animation-name: bounce_circularG;
  -o-animation-name: bounce_circularG;
  -ms-animation-name: bounce_circularG;
  -webkit-animation-name: bounce_circularG;
  -moz-animation-name: bounce_circularG;
  animation-duration: 1.1s;
  -o-animation-duration: 1.1s;
  -ms-animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

.loader #circularG_1 {
  left: 0;
  top: 23px;
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
}

.loader #circularG_2 {
  left: 6px;
  top: 6px;
  animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
}

.loader #circularG_3 {
  top: 0;
  left: 23px;
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}

.loader #circularG_4 {
  right: 6px;
  top: 6px;
  animation-delay: 0.83s;
  -o-animation-delay: 0.83s;
  -ms-animation-delay: 0.83s;
  -webkit-animation-delay: 0.83s;
  -moz-animation-delay: 0.83s;
}

.loader #circularG_5 {
  right: 0;
  top: 23px;
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
}

.loader #circularG_6 {
  right: 6px;
  bottom: 6px;
  animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}

.loader #circularG_7 {
  left: 23px;
  bottom: 0;
  animation-delay: 1.24s;
  -o-animation-delay: 1.24s;
  -ms-animation-delay: 1.24s;
  -webkit-animation-delay: 1.24s;
  -moz-animation-delay: 1.24s;
}

.loader #circularG_8 {
  left: 6px;
  bottom: 6px;
  animation-delay: 1.38s;
  -o-animation-delay: 1.38s;
  -ms-animation-delay: 1.38s;
  -webkit-animation-delay: 1.38s;
  -moz-animation-delay: 1.38s;
}

@media (max-width: 1199px) {
  .overview .row .w-100 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 991px) {
  .site_header .navbar-nav {
    align-items: flex-start !important;
  }
  .site_header .nav-item {
    position: relative;
    font-size: 18px;
  }
  .site_header .nav-item .ml-2 {
    margin-left: 1.5rem !important;
  }
  .site_header .nav-item .submenu {
    position: relative;
    font-size: 15px;
    z-index: 1;
    padding-bottom: 0;
    box-shadow: none;
    border-radius: 0;
    min-width: auto;
    text-align: center;
    display: none;
    padding-left: 1rem;
  }
  .site_header .nav-item .submenu .nav-item {
    position: relative;
    margin-bottom: 0;
  }
  .site_header .nav-item .submenu .nav-item .submenu {
    top: 0;
    left: 0;
  }
  .site_header #navbarSupportedContent {
    padding: 2rem 0;
    height: calc( 100vh - 2rem);
    overflow-y: auto;
  }
  .branches .nav-tabs .nav-link {
    font-size: 12px;
  }
  .branches #selfServiceMachines .nav-tabs li {
    width: 33%;
  }
  section {
    padding: 3rem 0;
  }
  .leftsec {
    flex-direction: column-reverse;
  }
  .serviceOverview .row .w-100 {
    margin-bottom: 2rem;
  }
  .serviceOverview .margin_top_4 {
    margin-top: 2rem;
  }
  .topSection {
    padding: 11rem 0 5rem;
  }
  .contact-us .contact-form {
    margin-bottom: 2rem;
  }
  .claims .claim_item.lineRight .point:after {
    display: none;
  }
  .claims .claim_item.lineLeft .point:before {
    display: none;
  }
}

@media (max-width: 767px) {
  #installApp {
    text-align: center;
  }
  #installApp h2 {
    margin-top: 1rem !important;
  }
  .serve_item {
    margin-bottom: 2rem;
  }
  .branches .nav-tabs .nav-link {
    font-size: 8px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 12px;
  }
  #hero_section .container .row .col-sm-4 {
    padding: 0 7px;
  }
  #hero_section .container .tab-pane .row {
    text-align: center;
  }
  #hero_section .tabs_sec .tab_item .icon {
    font-size: 30px;
  }
  #hero_section .tabs_sec .nav-tabs li {
    flex-basis: 30.33%;
  }
  #hero_section .tabs_sec .nav-tabs li a {
    padding: .5rem;
    width: 100%;
  }
  .branches .nav-tabs li, .branches .maintaps > .nav-tabs li {
    width: 50%;
    margin-top: 1rem;
  }
  section.contact-us {
    padding: 3rem 0 1rem;
  }
  .site_footer .logo img {
    max-width: 144px;
    margin-bottom: 1rem;
  }
  .site_header {
    padding: 0;
  }
  .site_header .nav-item {
    font-size: 15px;
  }
  .site_header .nav-item svg {
    vertical-align: middle;
  }
  .site_header .nav-item.margin_left {
    margin-left: 0;
  }
  .topSection {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
  }
  .claims .claim_item .point, .claims .step .point, .steps .claim_item .point, .steps .step .point {
    display: none;
  }
  .claims .claim_item .point:after, .claims .claim_item .point:before, .claims .step .point:after, .claims .step .point:before, .steps .claim_item .point:after, .steps .claim_item .point:before, .steps .step .point:after, .steps .step .point:before {
    display: none;
  }
}

@media (max-width: 450px) {
  .news_items .news_item {
    flex-wrap: wrap;
  }
  .news_items .news_item ._content {
    margin-top: 1rem;
  }
  #hero_section .hero-items-slider {
    display: block;
  }
  #hero_section .pc-view {
    display: none;
  }
}
