/* ====== fonts =========== */

@font-face {
	font-family: 'Conv_Ubuntu-B';
	src: url('../fonts/font/Ubuntu-B.eot');
	src: local('☺'), url('../fonts/font/Ubuntu-B.woff') format('woff'), url('../fonts/font/Ubuntu-B.ttf') format('truetype'), url('../fonts/font/Ubuntu-B.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Ubuntu-M';
	src: url('../fonts/font/Ubuntu-M.eot');
	src: local('☺'), url('../fonts/font/Ubuntu-M.woff') format('woff'), url('../fonts/font/Ubuntu-M.ttf') format('truetype'), url('../fonts/font/Ubuntu-M.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoWeb';
	src: url('../fonts/font/Lato-Regular.eot');
	src: local('☺'), url('../fonts/font/Lato-Regular.woff') format('woff'), url('../fonts/font/Lato-Regular.ttf') format('truetype'), url('../fonts/font/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ====== Color Palette =========== */


$blue:#00addd; // baby blue color
$darkBlue : #00488f;
$green:#b2bd00; // blue
$tc: #2d3436;  //text color
$bc: #fff;  //basic color
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #e1306c;
$googleplus: #dc4e41;
$youtube: #cd201f;
$linkedin: #0077b5;
$behance: #1769ff;
$pintrest: #bd081c;

/* ====== fonts =========== */

$font-family-regular: 'LatoWeb';
$font-family-medium: 'Conv_Ubuntu-M';
$font-family-bold: 'Conv_Ubuntu-B';


/* ====== Font Sizes =========== */

$base-font-size: 16px;
$font-small: 1.3rem;
$font-big: 2rem;
$font-extra-big: 3rem;

/* ====== Text =========== */

$base-line-height: 24px;
$letter-space: 1px;

/* ====== padding =========== */

$padding-one: 3rem;
$padding-two: 2rem;
$padding-three: 1rem;

/* ====== margin =========== */

$margin-one: 3rem;
$margin-two: 2rem;
$margin-three: 1rem;

/* ====== border radius =========== */

$br: 5px;

 /*----------- functions -----------*/

 @mixin scale($a,$b) { // scale animation
   -webkit-transform: scale($a,$b);
   -moz-transform: scale($a,$b);
   -o-transform: scale($a,$b);
      transform: scale($a,$b);
 }
 @mixin tform($a,$b) { // translate animation
   -webkit-transform: translate($a,$b);
   -moz-transform: translate($a,$b);
   -o-transform: translate($a,$b);
      transform: translate($a,$b);
 }
 @mixin rotate($a) { // rotate animation
  -webkit-transform: rotate($a);
  -moz-transform: rotate($a);
  -o-transform: rotate($a);
     transform: rotate($a);
}
 @mixin rotatex($a) { // rotatex animation
   -webkit-transform: rotateX($a);
   -moz-transform: rotateX($a);
   -o-transform: rotateX($a);
      transform: rotateX($a);
 }
 @mixin rotatey($a) { // rotatey animation
   -webkit-transform: rotateY($a);
   -moz-transform: rotateY($a);
   -o-transform: rotateY($a);
      transform: rotateY($a);
 }
 @mixin trans($a) { // transition
   -webkit-transition: all $a ease-in-out;
   -moz-transition: all $a ease-in-out;
   -o-transition: all $a ease-in-out;
      transition: all $a ease-in-out;
 }
 @mixin skew($a,$b) { // skew animate
   -webkit-transform: skew($a,$b);
   -moz-transform: skew($a,$b);
   -o-transform: skew($a,$b);
      transform: skew($a,$b);
 }
 @mixin manimate($a,$b,$c,$d,$e,$f,$g,$h) {
   -webkit-transform: rotatex($a) rotatey($b) translate($c,$d)  scale($e,$f) skew($g,$h);
   -moz-transform: rotatex($a) rotatey($b) translate($c,$d)  scale($e,$f) skew($g,$h);
   -o-transform: rotatex($a) rotatey($b) translate($c,$d)  scale($e,$f) skew($g,$h);
      transform: rotatex($a) rotatey($b) translate($c,$d)  scale($e,$f) skew($g,$h);
 }
 /*---------- animation ----------*/
 @keyframes scroll {
    0%,100%{
      @include tform(0,0)
    }
    30%{
      @include tform(0,5px);
    }
    70%{
      @include tform(0,-5px);
    }
}
@keyframes bounce_circularG{
  0%{
      transform:scale(1);
  }

  100%{
      transform:scale(.3);
  }
}

@-o-keyframes bounce_circularG{
  0%{
      -o-transform:scale(1);
  }

  100%{
      -o-transform:scale(.3);
  }
}

@-ms-keyframes bounce_circularG{
  0%{
      -ms-transform:scale(1);
  }

  100%{
      -ms-transform:scale(.3);
  }
}

@-webkit-keyframes bounce_circularG{
  0%{
      -webkit-transform:scale(1);
  }

  100%{
      -webkit-transform:scale(.3);
  }
}

@-moz-keyframes bounce_circularG{
  0%{
      -moz-transform:scale(1);
  }

  100%{
      -moz-transform:scale(.3);
  }
}
/* --------------------------------
RESET CSS
-------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
select { width: 100%; }
input:focus,button:focus,textarea:focus { outline: 0; }
a{
  &:hover{
    color: $tc;
    text-decoration: none;
  }
}
ul{
  li{
    list-style-position: inside;
  }
}
nav {
  li{
    list-style: none;
  }
}
button{
  padding: .5rem 2rem;
  cursor: pointer;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  font-size: $base-font-size;
}
body {
  line-height: ($base-line-height/$base-font-size);
  font-family: $font-family-regular;
  overflow-x: hidden;
}
input{
  height: 42px;
  padding: 0 1rem;
}
textarea{
  resize: none;
  padding: .5rem $padding-three;
  height: 84px;
}
p,h1,h2,h3,form{
  margin:0 0 $margin-three;
}
h1{
  font-size: 40px;
  font-size: $font_extra_big;
  font-family: $font-family-bold;
  line-height: $font_extra_big;
}
h2{
  font-size: 30px;
  font-size: $font_big;
  font-weight:bold;
}
h3{
  font-size: 25px;
  font-size: $font_small;
  font-family: $font-family-regular;
}
section{
  padding: 5rem 0;
}