/*---------- General Classes -------------*/
.margin_top{
  margin-top: $margin-two;
}
.margin_bottom{
  margin-bottom: $margin-two;
}
.margin_left{
  margin-left: 1rem;
}
.margin_right{
  margin-right: 1rem;
}
.margin_top_4{
  margin-top: 4rem;
}
.margin_bottom_4{
  margin-bottom: 4rem;
}
.padding_top{
  padding-top: $padding-two;
}
.padding_bottom{
  padding-bottom: $padding-two;
}
.br{
  border-radius: $br;
}
.space{
  height: 345px;
  border-radius: 25px;
  background: url(../img/group.jpg);
  background-size:cover;
 background-position: center;
 position: relative;
 overflow: hidden;
 &:before{
      content: "";
      position: absolute;
      width:100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      top: 0;
      left: 0;
  }
}
// text =========
.textBlue{
  color: $blue !important;
}
.textDarkBlue{
  color: $darkBlue;
}
.textGreen{
  color: $green !important;
}
._bold{
  font-family: $font-family-bold;
}
._mid{
  font-family: $font-family-medium;
}
.light{
  font-weight: 100;
}
.list{
  li{
    list-style-position: inside;
    list-style: auto;
  }
}
img.w-100{
  border-radius: 25px;
  box-shadow: 0 8px 14px #bbbbbb;
}
.list_none li{
  list-style: none;
}
.facebook{
  background: $facebook;
}
.twitter{
  background: $twitter;
}
.linkedin{
  background: $linkedin;
}
.behance{
  background: $behance;
}
.pintrest{
  background:$pintrest;
}
// btn ========
.btn_style {
  padding: .5rem 2rem;
  border-radius: 20px;
  display: inline-block;
  @include trans(.3s);
  position: relative;
  border: 2px solid transparent;
  &:hover{
    background: transparent;
  }
}
.green_btn{
  background:$green;
  color: $bc;
  &:hover{
    color: $green;
    border-color: $green;
  }
}
.green_br_btn{
  background:transparent;
  color: $green;
  border: 2px solid $green;
  &:hover{
    background: $green;
    border-color: $green;
    color: $bc;
  }
}
.light_btn{
  background:$bc;
  color: #00488f;
  &:hover{
    color: $bc;
    border-color: $bc;
  }
}
.blackBorder_btn{
  border:2px solid #000;
  color: #000;
  padding: .5rem 1rem;
  &:hover{
    color: #000;
    border-color: #ccc;
    &:before{
      border-color: #000;
    }
  }
}
.black_btn{
  background: #000;
  color: $bc;
  padding: .4rem 1rem;
  font-size: 13px;
  font-family: $font-family-regular;
  border-radius: $br;
  &:hover{
    background: #000;
    color: $bc;
    &:before{
      display: none;
    }
  }
  p{
    margin: 0;
    line-height: 13px;
  }
  ._icon{
    font-size:18px;
  }
}
.blue_btn{
  background: $blue;
  color: $bc;
  border-radius:$br; 
}
