// Large devices (desktops, less than 1600px)
@media (max-width: 1600px) {
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  .overview{
    .row{
      .w-100{
        margin-bottom: 2rem;
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  .site_header{
    .navbar-nav{
      align-items: flex-start !important;
    }
    .nav-item{
      position: relative;
      font-size: 18px;
      .ml-2{
        margin-left:1.5rem !important;
      }
      .submenu{
          position: relative;
          font-size:15px;
          z-index: 1;
          padding-bottom: 0;
          box-shadow: none;
          border-radius:0;
          min-width: auto;
          text-align: center;
          display: none;
          padding-left: 1rem;
          .nav-item{
              position: relative;
              margin-bottom: 0;
              .submenu{
                  top: 0;
                  left:0;
              }
          }
        }
      }
    #navbarSupportedContent {
      padding: 2rem 0;
      height: calc( 100vh - 2rem);
      overflow-y: auto;
    }
  }
  .branches .nav-tabs .nav-link{
    font-size: 12px;
  }
  section {
    padding: 3rem 0;
  }
  .leftsec{
    flex-direction: column-reverse;
  }
  .serviceOverview{
    .row 
    {
      .w-100{
        margin-bottom: 2rem;
      }
    }
    .margin_top_4{
      margin-top: 2rem;
    }
  }
  .topSection {
    padding: 11rem 0 5rem;
  }
  .contact-us{
    .contact-form{
        margin-bottom: 2rem;
    }
  }
  .claims{
    .claim_item{
        &.lineRight{
            .point{
                &:after{
                    display: none;
                }
            }
        }
        &.lineLeft{
          .point{
              &:before{
                  display: none;
              }
          }
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    #installApp{
      text-align: center;
      h2{
        margin-top: 1rem !important;
      }
    }
    .serve_item{
      margin-bottom: 2rem;
    }
    .branches .nav-tabs .nav-link {
      font-size: 8px;
    }
 }
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  html{
    font-size: 12px;
  }
  #hero_section{
    .container{
      .row{
        .col-sm-4{
          padding: 0 7px;
        }
      }
      .tab-pane{
        .row{
          text-align: center
        }
      }
    }
    .tabs_sec{
      .tab_item .icon {
        font-size: 30px;
      }
      .nav-tabs{
        li{
          flex-basis: 30.33%;
          a{
            padding: .5rem;
            width: 100%;
          }
        }
      }
    } 
  }
  .branches .nav-tabs li {
    width: 50%;
    margin-bottom: 1rem;
  }
  .site_footer .logo img {
    max-width: 144px;
    margin-bottom: 1rem;
  }
  .site_header{
    padding: 0;
    .nav-item{
      font-size: 15px;
    }
  }
  .topSection {
    top:0;
    left:0;
    width:100%;
    border-radius:0;
    margin-top: 0;
  }
  .claims,.steps{
    .claim_item,.step{
      .point{
        display: none;
          &:after,&:before{
              display: none;
          }
      }
    }
  }
}
