.site_main.bg{
    background:url(../img/main.png);
    background-size: 100%;
    background-repeat: no-repeat repeat;
}
/*------------ hearo section --------- */
#hero_section{
    position: relative;
    min-height: 600px;
    .fullwidthbanner-container{
        position: absolute;
        top: 0;
        left: 0;
        height: 100% !important;
    }
    .rev_slider{
        min-height: 600px;
        height: 100% !important;
        &:before{
            content: "";
            position: absolute;
            width:100%;
            height: 100%;
            z-index: 111;
            opacity: 0.77;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), #000000);
            top:0;
            left: 0;
        }
    }
    .container{
        position: relative;
        z-index: 111;
        color: $bc;
        padding-top: 12rem;
        padding-bottom: 4rem;
        .scrollDown{
           display: inline-block;
           color: $bc;
           font-family: $font-family-medium;
           @include trans(.3s);
           &:hover{
               .fa-arrow-down{
                    animation: scroll 2s 0s linear infinite;
               }  
           }
        }
    }
    .tabs_sec{
        border-radius: 31.5px;
        border: solid 3px #ffffff;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 2rem 1.3rem;
        .nav-tabs{
            border-radius: 27.7px;
            background-color: #f6f6f6;
            padding: 0;
            border-bottom: 0;
            flex-wrap: nowrap;
            li{
                a{
                    border-radius: 27.7px;
                    padding: .5rem 2rem;
                    color: $tc;
                    display: inline-block;
                    @include trans(.3s);
                }
                .active{
                    background: $green;
                    color: $bc;
                    &:after{
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f00c";
                        margin-left: 1rem;
                    }
                }
            }
        }
        .tab_item{
            color: $tc;
            padding: 2rem 1rem;
            text-align: center;
            border-radius: 29px;
            background-color: #f6f6f6;
            display: inline-block;
            text-align: center;
            .icon{
                font-size: 40px;
                margin: 0 auto 1rem;
                display: block;
                color: $blue;
            }
        }
    }
}
/*------------ services section --------- */
#services_section{
    h2{
        margin-top: 0;
    }
    p{
        margin: 0;
    }
    .services_slider{
        .serve_item{
            h3{
                margin-top: 1rem;
            }
            max-width: 650px;
            ._img{
                max-height: 350px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius:20px;
            }
        }
    .owl-nav{
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        background:$bc;
        .owl-prev , .owl-next{
            background: #ccc;
            border-radius: $br;
            color: $bc;
            padding: .1rem .6rem;
            text-align: center;
            &:before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
        .owl-next{
            &:before{
                content: '\f105';
            }
        }
        .owl-prev{
            margin-right: 1rem;
            &:before{
                content: '\f104';
            }
        }
    }
    }
}
/*------------ inner oages top section --------- */
.topSection{
    padding: 18rem 0 2rem;
    background-size: cover !important;
    background-position: center center !important;
    color: $bc;
    position: relative;
    box-shadow: 0 8px 14px #bbbbbb;
    width: 98%;
    left: 1%;
    margin-top: 1rem;
    border-radius: 25px;
    overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        width:100%;
        height: 100%;
        background: linear-gradient(to top , rgba(0, 75, 141, 0.7686274509803922),transparent,transparent);
        top: 0;
        left: 0;
    }
    .container{
        position: relative;
        p{
            max-width: 725px;
        }
        h1{
            font-size: 2.1rem;
        }
    }
    .call_num{
        background: $bc;
        padding: .5rem 1rem;
        border-radius: $br;
        svg{
            font-size: 25px;
            @include rotate(-45deg);
        }
        p{
            margin: 0;
        }
    }
}
/*------------ news section --------- */
.blog_item{
    padding:1rem;
    background:#f6f6f6;
    border-radius: 25px;
    img{
        width: 100%;
        border-radius: 25px;
        box-shadow: 0 10px 10px #bbbbbb;
    }
    a{
        color: $tc;
    }
    h3{
        margin-top: 1rem;
        font-weight: bold;
    }
}
/*------------ overview section --------- */
.overview{
    font-size: 15px;
    line-height: 17px;
}
.video{
    position: relative;
    padding-top: 56.2%;
    iframe{
        position: absolute;
        top:0;
        left:0;
        height: 100%;
    }
}
/* conatct us ==============*/
.contact-us{
    .social{
        a{
            color: $bc;
            width:30px;
            height: 30px;
            display: inline-flex;
            justify-content: center;
            align-items:center;
            text-align: center;
            border-radius: 50%;
        }
    }
    .contact-form{
        background: #f6f6f6;
        padding: 2rem 2rem 1rem;
        border-radius: 25px;
        .form-control{
            border-radius: 4px;
            border: solid 1px #cccccc;
            background-color: #ffffff;
            height: 38px;
        }
        label{
            color: #000000;
        }
        .btn_style{
            background:$blue;
            color: $bc;
            border-radius: $br;
            &:hover{
                &:before{
                    display: none;
                }
            }
        }
    }
}
.branches{
    .nav-tabs{
        border-bottom:0;
        li{
            width: 25%;
        }
        .nav-link{
            background: url(../img/btn_inactive.png) no-repeat;
            background-size:100% 100%;
            color: $bc;
            text-align: center;
            padding: 1.5rem 1rem;
            &.active{
                background: url(../img/btn_active.png);
                background-size:100% 100%;
                border:0;
            }
            &:hover{
                border:0;
            }
        }
    }
    .tab-content{
        padding: 4rem 2rem;
        a{
            color: $tc;
        }
    }
    .map{
        border-radius:20px;
        overflow: hidden;
    }
}
/* =====  team =============*/
#accordion{
    .card{
        border: 0;
        margin-bottom:1rem;
    }
    .card-header{
        padding: 0;
        border: 0;
        border-radius: 10px;
        overflow: hidden;
        button {
            border: 0;
            padding: .5rem 1rem;
            text-align: left;
            width:100%;
            background: #f6f6f6;
            color: $tc;
            font-size:15px;
            &.active{
                background: $blue;
                color: $bc;
                font-size: $font-small;
            }
        }
    }
}
.tab{
    display:none;
    &.show{
        display: block;
    }
}
.faq{
    #accordion{
        .card{
            border: 0;
            margin-bottom:1rem;
            &.open{
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .card-header{
            padding: 0;
            border: 0;
            overflow: hidden;
            button {
                border-radius: 10px;
                border: 1px solid;
                padding: .5rem 1rem;
                text-align: left;
                width:100%;
                background: $bc;
                color: $tc;
                font-size:15px;
                &.active{
                    color: $blue;
                    border:0;
                }
            }
        }
        .card-body{
            padding: 0 1rem 1rem;
        }

    }
}
/* ======== claims ============ */
.claims{
    .claim_item{
        svg{
            font-size: 40px;
            color: $green;
        }
        .point{
            margin: 1rem 0;
            text-align: center;
            span{
                width: 17px;
                height: 17px;
                background: $darkBlue;
                border-radius: 50%;
                border: 4px solid #fff;
                box-shadow: 0 0 0 1px $darkBlue;
                display: inline-block;
                z-index: 1;
                position: relative;
            } 
        }
        &.lineLeft,&.lineRight{
            .point{
                position: relative;
                &:after{
                    content: "";
                    width: calc(100% + 20px);
                    height: 2px;
                    background: $darkBlue;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
                &:before{
                    content: "";
                    width: calc(100% + 20px);
                    height: 2px;
                    background: $darkBlue;
                    position: absolute;
                    right: 50%;
                    top: 50%;
                }
            }
        }
    }
}
.fileClaim{
    .call_num{
        background:#f6f6f6;
        padding: .5rem 1rem;
        border-radius: 5px;
        display: inline-block;
        svg{
            font-size: 25px;
            @include rotate(-45deg);
        }
        p{
            margin-bottom: 0;
        }
    }
}

/* ====== request page =============*/
.request{
    background: url(../img/group1.jpg);
    background-size: cover;
    background-position: center;
    padding:13rem 0 5rem;
    .request-form{
        background: $bc;
        padding: 2rem;
        border-radius: 25px;
        max-width: 600px;
        margin: auto;
    }
}
.steps{
    .step{
        svg{
            font-size: 40px;
            color: $green;
        }
        .point{
            margin: 1rem 0;
            text-align: center;
            position: relative;
            span{
                width: 17px;
                height: 17px;
                background: $darkBlue;
                border-radius: 50%;
                border: 4px solid #fff;
                box-shadow: 0 0 0 1px $darkBlue;
                display: inline-block;
                z-index: 1;
                position: relative;
            } 
        }
        &.lineRight{
            .point{
                &:after{
                    content: "";
                    width: calc(100% + 20px);
                    height: 2px;
                    background: $darkBlue;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }
}
.credit{
    img{
        max-width:260px;
    }
}