.site_footer{
    background: $blue;
    color: $bc;
    padding: 1.5rem 0 0;
    p {
        font-size: 18px;
    }
    .footer_menu{
        .footer_link{
            color: $bc;
            margin-bottom: .7rem;
            display: inline-block;
            font-size: 14px;
        }
    }
    .footer-social{
        a{
            color: $bc;
            border-radius:50%;
            border:1px solid;
            width: 25px;
            height: 25px;
            padding: .2rem;
            font-size: 16px;
        }
    }
    small{
        display: inline-block;
    }
    .btn_style{
        font-family: $font-family-regular;
    }
    .logo{
        img{
            max-width: 170;
        }
    }
    .footer_bottom{
        padding: 1rem 0;
        color: $blue;
        background: $bc;
        p{
            font-size: 14px;
            margin-bottom: 0;
        }
        a{
            color: $blue;
        }
    }
}
.loader{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: $bc;
    z-index: 191;
    display: flex;
    #circularG{
        position:relative;
        width:57px;
        height:57px;
        margin: auto;
    }
    
    .circularG{
        position:absolute;
        background-color:$green;
        width:13px;
        height:13px;
        border-radius:9px;
            -o-border-radius:9px;
            -ms-border-radius:9px;
            -webkit-border-radius:9px;
            -moz-border-radius:9px;
        animation-name:bounce_circularG;
            -o-animation-name:bounce_circularG;
            -ms-animation-name:bounce_circularG;
            -webkit-animation-name:bounce_circularG;
            -moz-animation-name:bounce_circularG;
        animation-duration:1.1s;
            -o-animation-duration:1.1s;
            -ms-animation-duration:1.1s;
            -webkit-animation-duration:1.1s;
            -moz-animation-duration:1.1s;
        animation-iteration-count:infinite;
            -o-animation-iteration-count:infinite;
            -ms-animation-iteration-count:infinite;
            -webkit-animation-iteration-count:infinite;
            -moz-animation-iteration-count:infinite;
        animation-direction:normal;
            -o-animation-direction:normal;
            -ms-animation-direction:normal;
            -webkit-animation-direction:normal;
            -moz-animation-direction:normal;
    }
    
    #circularG_1{
        left:0;
        top:23px;
        animation-delay:0.41s;
            -o-animation-delay:0.41s;
            -ms-animation-delay:0.41s;
            -webkit-animation-delay:0.41s;
            -moz-animation-delay:0.41s;
    }
    
    #circularG_2{
        left:6px;
        top:6px;
        animation-delay:0.55s;
            -o-animation-delay:0.55s;
            -ms-animation-delay:0.55s;
            -webkit-animation-delay:0.55s;
            -moz-animation-delay:0.55s;
    }
    
    #circularG_3{
        top:0;
        left:23px;
        animation-delay:0.69s;
            -o-animation-delay:0.69s;
            -ms-animation-delay:0.69s;
            -webkit-animation-delay:0.69s;
            -moz-animation-delay:0.69s;
    }
    
    #circularG_4{
        right:6px;
        top:6px;
        animation-delay:0.83s;
            -o-animation-delay:0.83s;
            -ms-animation-delay:0.83s;
            -webkit-animation-delay:0.83s;
            -moz-animation-delay:0.83s;
    }
    
    #circularG_5{
        right:0;
        top:23px;
        animation-delay:0.97s;
            -o-animation-delay:0.97s;
            -ms-animation-delay:0.97s;
            -webkit-animation-delay:0.97s;
            -moz-animation-delay:0.97s;
    }
    
    #circularG_6{
        right:6px;
        bottom:6px;
        animation-delay:1.1s;
            -o-animation-delay:1.1s;
            -ms-animation-delay:1.1s;
            -webkit-animation-delay:1.1s;
            -moz-animation-delay:1.1s;
    }
    
    #circularG_7{
        left:23px;
        bottom:0;
        animation-delay:1.24s;
            -o-animation-delay:1.24s;
            -ms-animation-delay:1.24s;
            -webkit-animation-delay:1.24s;
            -moz-animation-delay:1.24s;
    }
    
    #circularG_8{
        left:6px;
        bottom:6px;
        animation-delay:1.38s;
            -o-animation-delay:1.38s;
            -ms-animation-delay:1.38s;
            -webkit-animation-delay:1.38s;
            -moz-animation-delay:1.38s;
    }
}