.site_header{
    padding: 2rem  0 0;
    @include trans(.3s);
    .navbar-brand{
        img{
            max-height: 55px;
            @include trans(.3s);
        }
    }
    .nav-item{
        position: relative;
        padding: .5rem 1rem;
        .fa-sort-down{
            vertical-align: baseline;
        }
        .submenu{
            position: absolute;
            top: 100%;
            left: -1rem;
            background: $bc;
            z-index: 1;
            box-shadow: 0 0 10px #ccc;
            border-radius: $br;
            min-width: 150px;
            padding: 1rem 0;
            text-align: center;
            display: none;
            animation-duration: .4s;
            .nav-item{
                position: relative;
                animation-duration: .4s;
                &:last-child{
                    margin-bottom: 0;
                }
                .submenu{
                    top: 0;
                    left: 99%;
                    @include tform(0,0);
                }
            }
        }
        &:hover{
            & > .submenu{
                display: block;
            }
        }
    }
    .nav-link{
        color: $tc;
        padding: 0 !important;
        display: inline-block;
    }
    &.header-scroll_bg_light{
        padding: 0;
        background:$bc;
        box-shadow: 0 0 10px #eee;
        .navbar-brand{
            img{
                max-height: 40px;
            }
        }
    }
   
}